In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats

In [2]:
# reading csv file

data = pd.read_csv('Sales_add.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 5 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Month                           22 non-null     object
 1   Region                          22 non-null     object
 2   Manager                         22 non-null     object
 3   Sales_before_digital_add(in $)  22 non-null     int64
 4   Sales_After_digital_add(in $)   22 non-null     int64
dtypes: int64(2), object(3)
memory usage: 1008.0+ bytes

In [3]:
data

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402
5,Month-6,Region - A,Manager - B,137163,256948
6,Month-7,Region - C,Manager - C,130625,222106
7,Month-8,Region - A,Manager - A,131140,230637
8,Month-9,Region - B,Manager - C,171259,226261
9,Month-10,Region - C,Manager - B,141956,193735
10,Month-11,Region - B,Manager - C,159339,203175
11,Month-12,Region - A,Manager - A,178939,276279
12,Month-13,Region - B,Manager - A,145062,205180
13,Month-14,Region - A,Manager - A,151514,253131
14,Month-15,Region - C,Manager - A,147463,229336
15,Month-16,Region - A,Manager - B,177195,187305
16,Month-17,Region - A,Manager - C,140862,234908
17,Month-18,Region - C,Manager - B,167996,191517
18,Month-19,Region - B,Manager - A,132135,227040
19,Month-20,Region - A,Manager - B,152493,212579
20,Month-21,Region - B,Manager - A,147425,263388
21,Month-22,Region - A,Manager - C,130263,243020

# 1. To clarify whether there is any increase in sales after stepping into digital marketing

Null hypothesis: No increase in sales after stepping into digital marketing. Mean sales before digital add is less than or equal to mean sale after digital add.

Alternate hypothesis: There's an increase in sales after stepping into digital marketing. Sale after digital add is greater than sale before digital add.

Level of significance = 5% = 0.05

In [4]:
# degree of freedom
df=len(data)-1
print('df =',df)

df = 21

In [5]:
# T-Critical Value
t_critic=stats.t.ppf(q=1-0.05, df=df)
print('T-Critical Value =',t_critic)

T-Critical Value = 1.7207429028118775

In [6]:
# test statistics
ttest,pval = stats.ttest_rel(data['Sales_before_digital_add(in $)'], data['Sales_After_digital_add(in $)'])
print('t-value = ',ttest)
print('p-value = ',pval)

t-value =  -12.09070525287017
p-value =  6.336667004575778e-11

In [7]:
#comparison and decision making
if (abs(ttest)>t_critic)&(pval<0.05):
    print('|t| >',t_critic,'and p < 0.05')
    print('We are rejecting null hypothesis')
else:
    print('|t| <',t_critic,'and p > 0.05')
    print('we are accepting null hypothesis')

|t| > 1.7207429028118775 and p < 0.05
We are rejecting null hypothesis

#### Inference: 
There's an increase in sales after stepping into digital marketing.

# 2. Dependency between the features “Region” and “Manager”

Null hypothesis: There's no dependency between "Region" and "Manager"

Alternate hypothesis: "Region" and "Manager" are dependent

Level of significance = 5% = 0.05

In [8]:
#creating crosstab

crosstab = pd.crosstab(data["Region"], data["Manager"])
crosstab

Manager     Manager - A  Manager - B  Manager - C
Region
Region - A            4            3            3
Region - B            4            1            2
Region - C            1            3            1

In [9]:
# chi square test

(chisq,pval1,df1,array)=stats.chi2_contingency(crosstab)
print("chi-square value = ",chisq,'\n'
      "p-value = ",pval1,'\n'
     "degree of freedom = ",df1)

chi-square value =  3.050566893424036
p-value =  0.5493991051158094
degree of freedom =  4

In [10]:
#critical chi-square value
chi_critic=stats.chi2.ppf(1-0.05, df=df1)
print('Critical chi-square value = ',chi_critic)

Critical chi-square value =  9.487729036781154

In [11]:
#comparison and decision making
if (chisq>chi_critic)&(pval<0.05):
    print('We are rejecting null hypothesis')
else:
    print('we are accepting null hypothesis')

we are accepting null hypothesis

#### Inference:
There's no dependency between "Region" and "Manager"